## importing my dependecy

In [ ]:
import pandas as pd

# creating my order dataframe

In [ ]:
orders = pd.DataFrame({
'order_id' : [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
'customer_id' : [2,5,6,1,7,9,10,3,4,8,5,7,9,3,4,2,6,10,1,8],
'product_id' : [15,1,2,3,4,5,7,8,3,2,11,12,14,10,9,6,15,10,15,13],
'quantity' : [5,3,2,5,5,4,3,5,1,5,3,2,1,1,1,4,4,5,4,5]
})

print(orders)

    order_id  customer_id  product_id  quantity
0          1            2          15         5
1          2            5           1         3
2          3            6           2         2
3          4            1           3         5
4          5            7           4         5
5          6            9           5         4
6          7           10           7         3
7          8            3           8         5
8          9            4           3         1
9         10            8           2         5
10        11            5          11         3
11        12            7          12         2
12        13            9          14         1
13        14            3          10         1
14        15            4           9         1
15        16            2           6         4
16        17            6          15         4
17        18           10          10         5
18        19            1          15         4
19        20            8          13         5

creating my product dataframe

In [ ]:
products = pd.DataFrame({
    'product_id' : [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
    'product_description' : ['toilet paper', 'blueband','bottle water','chocolate','milk','yougurt','dish washer','ice cream','note pads','bread','sardines','soap','juice','perfumes','wine'],
    'product_price' : [700,1500,200,3000,4500,2500,1500,2000,1000,1000,750,4000,2500,15000,20000]
})

print(products)

    product_id product_description  product_price
0            1        toilet paper            700
1            2            blueband           1500
2            3        bottle water            200
3            4           chocolate           3000
4            5                milk           4500
5            6             yougurt           2500
6            7         dish washer           1500
7            8           ice cream           2000
8            9           note pads           1000
9           10               bread           1000
10          11            sardines            750
11          12                soap           4000
12          13               juice           2500
13          14            perfumes          15000
14          15                wine          20000

## creating my customers data frame

In [ ]:
customers = pd.DataFrame({
    'customer_id': [1,2,3,4,5,6,7,8,9,10],
    'customer_name': ['mary','kate','judy','tina','grace','john','andrew','sandra','gift','henry'],
    'customer_address': ['ketu,lagos','badagry,lagos','magodo,lagos','yaba,lagos','palmgroove,lagos','surulere,lagos','lekki,lagos','vgc,lagos','chevron,lagos','ikeja,lagos'],
    'customer_phone_number': ['09068572431','07066778934','08036647467','08099675434','07088946971','09054381003','09011000034','08067390234','09056782418','08195672345']
})

print(customers)

   customer_id customer_name  customer_address customer_phone_number
0            1          mary        ketu,lagos           09068572431
1            2          kate     badagry,lagos           07066778934
2            3          judy      magodo,lagos           08036647467
3            4          tina        yaba,lagos           08099675434
4            5         grace  palmgroove,lagos           07088946971
5            6          john    surulere,lagos           09054381003
6            7        andrew       lekki,lagos           09011000034
7            8        sandra         vgc,lagos           08067390234
8            9          gift     chevron,lagos           09056782418
9           10         henry       ikeja,lagos           08195672345

## merging my datasets from each table together

In [ ]:
order_products = orders.merge(products)
# print(order_products)

my_customers = order_products.merge(customers)
print(my_customers)

    order_id  customer_id  product_id  quantity product_description  \
0          1            2          15         5                wine
1         16            2           6         4             yougurt
2         17            6          15         4                wine
3          3            6           2         2            blueband
4         19            1          15         4                wine
5          4            1           3         5        bottle water
6          2            5           1         3        toilet paper
7         11            5          11         3            sardines
8         10            8           2         5            blueband
9         20            8          13         5               juice
10         9            4           3         1        bottle water
11        15            4           9         1           note pads
12         5            7           4         5           chocolate
13        12            7          12         2                soap
14         6            9           5         4                milk
15        13            9          14         1            perfumes
16         7           10           7         3         dish washer
17        18           10          10         5               bread
18         8            3           8         5           ice cream
19        14            3          10         1               bread

    product_price customer_name  customer_address customer_phone_number
0           20000          kate     badagry,lagos           07066778934
1            2500          kate     badagry,lagos           07066778934
2           20000          john    surulere,lagos           09054381003
3            1500          john    surulere,lagos           09054381003
4           20000          mary        ketu,lagos           09068572431
5             200          mary        ketu,lagos           09068572431
6             700         grace  palmgroove,lagos           07088946971
7             750         grace  palmgroove,lagos           07088946971
8            1500        sandra         vgc,lagos           08067390234
9            2500        sandra         vgc,lagos           08067390234
10            200          tina        yaba,lagos           08099675434
11           1000          tina        yaba,lagos           08099675434
12           3000        andrew       lekki,lagos           09011000034
13           4000        andrew       lekki,lagos           09011000034
14           4500          gift     chevron,lagos           09056782418
15          15000          gift     chevron,lagos           09056782418
16           1500         henry       ikeja,lagos           08195672345
17           1000         henry       ikeja,lagos           08195672345
18           2000          judy      magodo,lagos           08036647467
19           1000          judy      magodo,lagos           08036647467

i observed that my table merged properly, using column information's without such command being passed in my code, shared across the three different dataframe , to identify where pieces of information from the table fits and where they reoccur.

## merging my customers and orders data frames together

In [ ]:
customer_orders = customers.merge(orders, on='customer_id')

print(customer_orders)

    customer_id customer_name  customer_address customer_phone_number  \
0             1          mary        ketu,lagos           09068572431
1             1          mary        ketu,lagos           09068572431
2             2          kate     badagry,lagos           07066778934
3             2          kate     badagry,lagos           07066778934
4             3          judy      magodo,lagos           08036647467
5             3          judy      magodo,lagos           08036647467
6             4          tina        yaba,lagos           08099675434
7             4          tina        yaba,lagos           08099675434
8             5         grace  palmgroove,lagos           07088946971
9             5         grace  palmgroove,lagos           07088946971
10            6          john    surulere,lagos           09054381003
11            6          john    surulere,lagos           09054381003
12            7        andrew       lekki,lagos           09011000034
13            7        andrew       lekki,lagos           09011000034
14            8        sandra         vgc,lagos           08067390234
15            8        sandra         vgc,lagos           08067390234
16            9          gift     chevron,lagos           09056782418
17            9          gift     chevron,lagos           09056782418
18           10         henry       ikeja,lagos           08195672345
19           10         henry       ikeja,lagos           08195672345

    order_id  product_id  quantity
0          4           3         5
1         19          15         4
2          1          15         5
3         16           6         4
4          8           8         5
5         14          10         1
6          9           3         1
7         15           9         1
8          2           1         3
9         11          11         3
10         3           2         2
11        17          15         4
12         5           4         5
13        12          12         2
14        10           2         5
15        20          13         5
16         6           5         4
17        13          14         1
18         7           7         3
19        18          10         5

i had to specify which column i want my table to merge on, which is the customers_id seen as both dataframe share that in common.

# merging my customers and product dataframe together

In [ ]:
customer_products = customers.merge(products, how='outer')

this wont work seen as both dataframe have no common columes to merge with.

## merging my customers and order data frame together

In [ ]:
customer_order = customers.merge(orders, how='left')

print(customer_order)

    customer_id customer_name  customer_address customer_phone_number  \
0             1          mary        ketu,lagos           09068572431
1             1          mary        ketu,lagos           09068572431
2             2          kate     badagry,lagos           07066778934
3             2          kate     badagry,lagos           07066778934
4             3          judy      magodo,lagos           08036647467
5             3          judy      magodo,lagos           08036647467
6             4          tina        yaba,lagos           08099675434
7             4          tina        yaba,lagos           08099675434
8             5         grace  palmgroove,lagos           07088946971
9             5         grace  palmgroove,lagos           07088946971
10            6          john    surulere,lagos           09054381003
11            6          john    surulere,lagos           09054381003
12            7        andrew       lekki,lagos           09011000034
13            7        andrew       lekki,lagos           09011000034
14            8        sandra         vgc,lagos           08067390234
15            8        sandra         vgc,lagos           08067390234
16            9          gift     chevron,lagos           09056782418
17            9          gift     chevron,lagos           09056782418
18           10         henry       ikeja,lagos           08195672345
19           10         henry       ikeja,lagos           08195672345

    order_id  product_id  quantity
0          4           3         5
1         19          15         4
2          1          15         5
3         16           6         4
4          8           8         5
5         14          10         1
6          9           3         1
7         15           9         1
8          2           1         3
9         11          11         3
10         3           2         2
11        17          15         4
12         5           4         5
13        12          12         2
14        10           2         5
15        20          13         5
16         6           5         4
17        13          14         1
18         7           7         3
19        18          10         5

this code workscause both dataframes share a common column in the dataset

In [ ]:
customer_product = customers.merge(products, how='right')

print(customer_product)

this code wont work cause bot dataframes has no common column

## concatenating my tables together with the .concat() function

In [ ]:
my_new_df = [orders,products,customers]
result = pd.concat(my_new_df)
print(result)

    order_id  customer_id  product_id  quantity product_description  \
0        1.0          2.0        15.0       5.0                 NaN
1        2.0          5.0         1.0       3.0                 NaN
2        3.0          6.0         2.0       2.0                 NaN
3        4.0          1.0         3.0       5.0                 NaN
4        5.0          7.0         4.0       5.0                 NaN
5        6.0          9.0         5.0       4.0                 NaN
6        7.0         10.0         7.0       3.0                 NaN
7        8.0          3.0         8.0       5.0                 NaN
8        9.0          4.0         3.0       1.0                 NaN
9       10.0          8.0         2.0       5.0                 NaN
10      11.0          5.0        11.0       3.0                 NaN
11      12.0          7.0        12.0       2.0                 NaN
12      13.0          9.0        14.0       1.0                 NaN
13      14.0          3.0        10.0       1.0                 NaN
14      15.0          4.0         9.0       1.0                 NaN
15      16.0          2.0         6.0       4.0                 NaN
16      17.0          6.0        15.0       4.0                 NaN
17      18.0         10.0        10.0       5.0                 NaN
18      19.0          1.0        15.0       4.0                 NaN
19      20.0          8.0        13.0       5.0                 NaN
0        NaN          NaN         1.0       NaN        toilet paper
1        NaN          NaN         2.0       NaN            blueband
2        NaN          NaN         3.0       NaN        bottle water
3        NaN          NaN         4.0       NaN           chocolate
4        NaN          NaN         5.0       NaN                milk
5        NaN          NaN         6.0       NaN             yougurt
6        NaN          NaN         7.0       NaN         dish washer
7        NaN          NaN         8.0       NaN           ice cream
8        NaN          NaN         9.0       NaN           note pads
9        NaN          NaN        10.0       NaN               bread
10       NaN          NaN        11.0       NaN            sardines
11       NaN          NaN        12.0       NaN                soap
12       NaN          NaN        13.0       NaN               juice
13       NaN          NaN        14.0       NaN            perfumes
14       NaN          NaN        15.0       NaN                wine
0        NaN          1.0         NaN       NaN                 NaN
1        NaN          2.0         NaN       NaN                 NaN
2        NaN          3.0         NaN       NaN                 NaN
3        NaN          4.0         NaN       NaN                 NaN
4        NaN          5.0         NaN       NaN                 NaN
5        NaN          6.0         NaN       NaN                 NaN
6        NaN          7.0         NaN       NaN                 NaN
7        NaN          8.0         NaN       NaN                 NaN
8        NaN          9.0         NaN       NaN                 NaN
9        NaN         10.0         NaN       NaN                 NaN

    product_price customer_name  customer_address customer_phone_number
0             NaN           NaN               NaN                   NaN
1             NaN           NaN               NaN                   NaN
2             NaN           NaN               NaN                   NaN
3             NaN           NaN               NaN                   NaN
4             NaN           NaN               NaN                   NaN
5             NaN           NaN               NaN                   NaN
6             NaN           NaN               NaN                   NaN
7             NaN           NaN               NaN                   NaN
8             NaN           NaN               NaN                   NaN
9             NaN           NaN               NaN                   NaN
10            NaN           NaN               NaN                   NaN
11            NaN           NaN               NaN                   NaN
12            NaN           NaN               NaN                   NaN
13            NaN           NaN               NaN                   NaN
14            NaN           NaN               NaN                   NaN
15            NaN           NaN               NaN                   NaN
16            NaN           NaN               NaN                   NaN
17            NaN           NaN               NaN                   NaN
18            NaN           NaN               NaN                   NaN
19            NaN           NaN               NaN                   NaN
0           700.0           NaN               NaN                   NaN
1          1500.0           NaN               NaN                   NaN
2           200.0           NaN               NaN                   NaN
3          3000.0           NaN               NaN                   NaN
4          4500.0           NaN               NaN                   NaN
5          2500.0           NaN               NaN                   NaN
6          1500.0           NaN               NaN                   NaN
7          2000.0           NaN               NaN                   NaN
8          1000.0           NaN               NaN                   NaN
9          1000.0           NaN               NaN                   NaN
10          750.0           NaN               NaN                   NaN
11         4000.0           NaN               NaN                   NaN
12         2500.0           NaN               NaN                   NaN
13        15000.0           NaN               NaN                   NaN
14        20000.0           NaN               NaN                   NaN
0             NaN          mary        ketu,lagos           09068572431
1             NaN          kate     badagry,lagos           07066778934
2             NaN          judy      magodo,lagos           08036647467
3             NaN          tina        yaba,lagos           08099675434
4             NaN         grace  palmgroove,lagos           07088946971
5             NaN          john    surulere,lagos           09054381003
6             NaN        andrew       lekki,lagos           09011000034
7             NaN        sandra         vgc,lagos           08067390234
8             NaN          gift     chevron,lagos           09056782418
9             NaN         henry       ikeja,lagos           08195672345